<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forex Currency Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <h1>Forex Currency Converter</h1>
    <figcaption class="blockquote-footer">
        Convert from one currency type to another.</cite>
    </figcaption>
    <form>
        <div class="container col-3 mb-3">
            <label for="currencycodefrom" class="form-label">Currency Code To:</label>
            <input type="text" class="form-control-sm" id="currencycodefrom" placeholder="name@example.com">
        </div>
        <div class="container col-3 mb-3">
            <label for="currencycodeto" class="form-label">Currency Code From:</label>
            <input type="text" class="form-control-sm" id="currencycodeto" placeholder="name@example.com">
        </div>
        <div class="container col-3 mb-3">
            <label for="amounttoconvert" class="form-label">Currency Amount:</label>
            <input type="text" class="form-control-sm" id="amounttoconvert" placeholder="100.00">
        </div>
        <div class="container col-1">
            <button type="button" class="btn btn-primary">Convert</button>
        </div>
    </form>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</body>

</html>