<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forex Currency Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <h1>Forex Currency Converter</h1>
    <figcaption class="blockquote-footer">
        Convert from one currency type to another.
        The amount to convert can be any decimal number.
    </figcaption>

    <form id="convertform" action="/convert">
        <div class="container col-4 mb-3 justify-content-center d-flex">
            <label for="currencycodefrom" class="form-label">Currency Code From: </label>
            <input type="text" class="form-control-sm" id="currencycodefrom" name="currencycodefrom" placeholder="<USD>"
                style="text-transform:uppercase" maxlength="3" required autocomplete="off">
        </div>
        <div class="container col-4 mb-3 justify-content-center d-flex">
            <label for="currencycodeto" class="form-label">Currency Code To: </label>
            <input type="text" class="form-control-sm" id="currencycodeto" name="currencycodeto" placeholder="<GBP>"
                style="text-transform:uppercase" maxlength="3" required autocomplete="off">
        </div>
        <div class="container col-4 mb-3 justify-content-center d-flex">
            <label for="amounttoconvert" class="form-label">Currency Amount: </label>
            <input type="text" class="form-control-sm" id="amounttoconvert" name="amounttoconvert"
                placeholder="<100.00>" step="any" required autocomplete="off">
        </div>
        <div class="container col-1 justify-content-center d-flex">
            <button type="input" class="btn btn-primary">Convert</button>
        </div>
    </form>

    {% for msg in get_flashed_messages() %}
    {% if "ERROR" in msg %}
    <div class="container d-flex justify-content-center">
        <div class="alert alert-danger" id="flashmessage">{{ msg }}</div>
    </div>
    {% endif %}
    {% if "SUCCESS" in msg %}
    <div class="container d-flex justify-content-center">
        <div class="alert alert-success" id="flashmessage">{{ msg }}</div>
    </div>
    {% endif %}
    {% endfor %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</body>

</html>